.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: rgba(234, 234, 234, 0.3);
    position: relative;
            
}

.GOModal{
    z-index: 100;
    position: relative;
    width: 33%;
    height: 33%;
    background: rgb(66, 187, 121);
}



.score{
    top: -4%;
    left: -30%;
    position: relative;
    width: 13%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.yourScoreText{
   font-size: 1.6vw;
   margin-left: 7%;
   width: 5ch;
  text-align: right;
}

.yourScoreSvg{
    display: block;
}

.canvasStack{
    position: relative;
    top: -2.5%;
    width: 80vw;
    aspect-ratio: 40 / 23;
    max-width: 1200px;
    max-height: auto;
}

.canvasStack canvas {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    display: block;
}

.BackgroundArea {
    /* height: 100%; */
    z-index: 2;
    background: rgb(255, 255, 255);


    
}
.obstaclesCanvas {
    z-index: 49;
    transform: scaleY(123%) ;
    
}

.obstaclesArea{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.canvasBackground {
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    width: 100%;
    height: 100%;
    overflow: hidden;    
}

.canvasBackground canvas {    
    width: 100%;
    top: -1%;
    transform: scaleY(76%) ;
    /* background-color: red !important;        */
}


.fallChairArea{
    position: absolute;
    top: 1;      
    left: 10%; 
    width: 200px;
    height: 900px;
    z-index: 5;
}

.playerArea{
    width: 100%;
    background-color: #fff;
    opacity: 1 !important;
    
}

.playerCanvas{
    opacity: 1 !important;
    
}

.playerArea canvas {
    opacity: 1 !important;
    z-index: 50;
}





