.body {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: white;
  flex-direction: column;
}


/* Header */

.headerBtnBlock{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}


.Displayusername{
  font-size: 11px;
  top: 10%;
  z-index: 400;
}

.btnConnect{
  cursor: pointer;
  margin: 1%;
  transform: translate(0%, -7%);
  z-index: 500;
}

.btnCartDiv{
  cursor: pointer;
  margin-right: 1.5%;
  display: flex;
  align-items: center;
  position: relative;
}

.btnCart{
  width: 100%;
}

.btnCartCount{
  position: absolute;
  top: -66%;
  left: 60%;
  margin: 3%;
  z-index: 10000;
  font-size: 9px;
  background: rgba(255,255,255,0.8);
  border-radius: 10px;
  padding: 12%;
}



.cartWrapper {
  position: absolute;
  width: 4vw;
  height: 5.3vh;
  top: 0%;
  right: 0.2%;
  z-index: 12;
}

.cartWrapper2 {
  width: 100%;
  height: 100%;
  right: 5%;
  z-index: 12;
  overflow-y: auto;
  scrollbar-width: none;
}

.btnCartHover {
  position: absolute;
  top: 4.4%;
  right: 2.2%;
  width: 23vw;
  height: 42vh; 
  font-size: 1.2vw;
  background-color: white;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  border-radius: 12px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  opacity: 0;
  transform: translateY(-20%);
  pointer-events: none;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.btnCartHover.show {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.overflow {
  flex: 1;
  overflow-y: auto;
  padding: 5px;
  scrollbar-width: none;
  overflow-y: auto;
}

.cartContainer{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10%;
  border-bottom: 1px dashed rgba(0,0,0,0.2);
}

.nameInCart{
  font-size: 13px;
  font-weight: bold;
}

.sizeInCart{
  font-size: 12px;
  font-weight: light;
  margin-top: 6%;
}

.priceInCart{
  font-size: 12px;
  margin-top: 4%;
  color: rgba(0,0,0,0.7);;
}

/* Stepper a recup  */


/* .qtyWrap {
  display: inline-flex;
  align-items: center;
  gap: 6px;
}

.qtyBtn {
  border: 1px solid #ccc;
  background: #fff;
  width: 26px;
  height: 26px;
  line-height: 24px;
  text-align: center;
  border-radius: 6px;
  cursor: pointer;
}

.qtyInput {
  width: 48px;
  height: 28px;
  border: 1px solid #ccc;
  text-align: center;
  border-radius: 6px;
} */

.btnDeleteWraper{
  position: absolute;
  bottom: 15%;
  right: 4%;
}

.btnDelete{
  cursor: pointer;
  align-items: end;
  justify-content: end;
}

.cartWrapper3 {
  height: 120%;
  margin: 0 auto;
  z-index: 12;
  padding: 7px;
}

.subtotalRow{
  margin-top: 3%;
}

.GotoCart{
  cursor: pointer;
  margin-bottom: 4%;
  margin-top: 3%;
}

.cartFooter {
  flex-shrink: 0;
  background-color: #fff;
  text-align: center;
  font-size: 1vw;
}

/* .Portfolio .Shop .NextGuest */

.bigButtons {
  margin: auto;
  width: 70vw;
  height: 50vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-self: center;
  align-self: center;
  transform: translateY(-5%);
}

.divPortfolio {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Portfolio {
  width: 80%;
}

.divShop {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Shop {
  width: 50%;
  transform: translateX(-2%);
}

.divNextGuest {
  display: flex;
  justify-content: center;
  align-items: center;
}

.NextGuest {
  width: 92%;
  transform: translateY(-6%);
}

.svgButton {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  outline: none;
}

/*  */

/* whereIsChair */

.divWhereIsChair {
  width: 27%;
  position: absolute;
  top: 63%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  background: none;
  padding: 5px 10px;
  border-radius: 10px;
}

.whereIsChair {
  width: 50%;
}

.WhereIsChairButton{
  z-index: -10;
}

.btnWhereIsChair {
  width: 50%;
}

/* anim click */

.Chair {
  width: 3.5%;
}

.positionedChair {
  position: absolute;
  bottom: 33%;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  transition: transform 0.3s;
}

.Chair.animate {
  animation: pop 0.2s ease;
}

@keyframes pop {
  0% {
    transform: scale(1) translateY(0);
  }
  40% {
    transform: scale(1.25) translateY(-30px);
  }
  70% {
    transform: scale(0.95) translateY(5px);
  }
  100% {
    transform: scale(1) translateY(0);
  }
}