.movie {
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  background-color: white;
  border-radius: 8px;
  padding: 10px;
}

.parent {
  height: 400px;
  display: flex;
  flex-direction: column;
  width: 200px;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.poster {
  height: 60%;
  object-fit: cover;
}

.vote {
  font-size: 9.5px;
}